.tempMenu {
  background-color: #F7F7F7;
  padding-bottom: 2px;
}
.tempMenu__pages {
  display: flex;
  gap: 7%;
}
.tempMenu__page a{
  color: inherit;
  color: black;
  display: block;
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid darkcyan;
}