// index.scss
@import '../common/common';
@import '../common/testmenu';

@import '../common/header';

@import './section1';
@import './section2';

@import '../common/footer';

// body{
// }

.testColor{
  color: $testColor;
}
.testColor2{
  color: rgb(var(--sampleClr) / 0.5);
}
.testColor3{
  color: clr(sampleClr, 0.5);
}